<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->

<head>
  <!-- Basic meta info
  ==================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>${recipe.description} | Recipe Book</title>

  <!-- Favicon
  ============ -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png" />

  <!-- CSS files
  ============== -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"  />
  <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />

  <!-- Modernizr file
  =================== -->
  <script charset="utf-8" type="text/javascript "src="/js/modernizr.custom.js"></script>

</head>

<body>

  <!-- Splash Screen
  ================== -->
  <div id="splash"></div>

  <!-- Website Logo
  ================= -->
  <section id="logo">
    <div class="container text-center wow pulse">
      <img src="/images/logo-white.svg" alt="logo" />
      <br />
      <h1>Recipe Book</h1>
    </div>
  </section>

  <!-- Recipe Section
  =================== -->
  <section id="recipe">
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="col-12">
          <h2 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h2>
        </div>
      </div>
      <div class="row vertical-align">
        <div class="col-12">
          <!-- Picture -->
          <div class="col-md-8 pull-left wow swing">
            <img src="/static/images/guacamole400x400WithX.jpg"
                                     th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                     width="200" height="200">
          </div>
          <!-- Info -->
          <div class="col-md-4 pull-right wow lightSpeedIn">
            <div class="recipe-info">
              <h3>Info</h3>
              <!-- Time -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="col-6">Time</div>
                <div class="col-4"><p th:text="${(recipe.prepTime) +  '  Min'}">30 min</p></div>
              </div>
              <!-- Difficulty -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
                <div class="col-6">Difficulty</div>
                <div class="col-4">
                  <p th:text="${recipe.difficulty}">Easy</p>
                </div>
              </div>
              <!-- Serves -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col-6">Servings</div>
                <div class="col-4"><p th:text="${recipe.servings}">4</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Ingredients -->
      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-ingredients">
            <h3>Ingredients</h3>
            <dl class="ingredients-list" th:each="ingredient : ${recipe.ingredients}">
              <dt th:text="${(ingredient.getAmount() + ' ' + ingredient.uom.getDescription())}">1 Teaspoon of</dt>
              <dd th:text="${ingredient.getDescription()}">Sugar</dd>
            </dl>
          </div>
        </div>
      </div>
      <!-- Directions -->
      <div class="row wow slideInUp">
        <div class="col-12">
          <div class="recipe-directions">
            <h3>Directions</h3>
            <p th:text="${recipe.directions}">
          </div>
        </div>
      </div>
      <!-- Back to recipes -->
      <div class="row wow rollIn">
        <div class="col-12 text-center">
          <a href="index.html">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Go to back to recipes.
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Website Footer
  =================== -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-6 col-sm-12 text-center">
          <h3>About</h3>
          <div class="footer-about">
            "A recipe book is one that you use daily and what we in our family
            call 'a living book' — a book that you use all the time,
            not just read once and discard on the shelf.
            Recipes are by nature derivative and meant to be shared -
            that is how they improve, are changed, how new ideas are formed. ”
          </div>
        </div>
        <!-- Author -->
        <div class="col-md-6 col-sm-12 text-center">
          <div class="footer-author">
            Made with
            <i class="fa fa-heart" aria-hidden="true"></i>
            love by
            <a href="https://jraleman.com/" target="_blank">Jose Ramon</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript files
  ===================== -->
  <script charset="utf-8" src="/js/jquery-3.3.1.min.js"></script>
  <script charset="utf-8" src="/js/bootstrap.min.js"></script>
  <script charset="utf-8" src="/js/wow.min.js"></script>
  <script charset="utf-8" src="/js/scripts.js"></script>
</body>

</html>