<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/-->

<head>
  <!-- Basic meta info
  ==================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${(recipe.description) +  ' | Recipe Book'}">My recipe | Recipe Book</title>

  <!-- CSS files
  ============== -->
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"  />
  <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
 

  <!-- Modernizr file
  =================== -->
  <script charset="utf-8" type="text/javascript " src="/js/modernizr.custom.js"></script>

</head>

<body>

  <!-- Splash Screen
  ================== -->
  <div id="splash"></div>

  <!-- Website Logo
  ================= -->
  <section id="logo">
    <div class="container text-center wow pulse">
		<nav class="navbar navbar-expand-lg navbar-dark">
		  <a class="navbar-brand" href="#">
		   <img src="/images/logo.png" width="100" height="100" alt="logo"/>
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   			<span class="navbar-toggler-icon"></span>
 		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		  	  <li class="nav-item">
            	<a class="nav-link" href="/">Home</a>
      	  	  </li>
      	    </ul>
      	  </div>
		</nav>
    </div>
  </section>

  <!-- Recipe Section
  =================== -->
  <section id="recipe">
    <div class="container">
      <div class="row">
        <!-- Title -->
        <div class="col-12">
          <h2 class="panel-title" th:text="${recipe.description}">Recipe Description Here!</h2>
        </div>
      </div>
      <div class="row vertical-align">
        <div class="col-12">
          <!-- Picture -->
          <div class="col-md-8 pull-left wow swing">
            <img src="/static/images/guacamole400x400WithX.jpg"
                                     th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}"
                                     width="400" height="400"
                                     class="recipe-picture">
          </div>
          <!-- Info -->
          <div class="col-md-4 pull-right wow lightSpeedIn">
            <div class="recipe-info">
              <h3>Info</h3>
              <!-- Time -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="col-6">Time</div>
                <div class="col-4"><p th:text="${(recipe.prepTime) +  '  Min'}">30 min</p></div>
              </div>
              <!-- Difficulty -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-area-chart" aria-hidden="true"></i>
                </div>
                <div class="col-6">Difficulty</div>
                <div class="col-4">
                  <p th:text="${recipe.difficulty}">Easy</p>
                </div>
              </div>
              <!-- Serves -->
              <div class="row">
                <div class="col-2 text-center">
                  <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col-6">Servings</div>
                <div class="col-4"><p th:text="${recipe.servings}">4</p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wow slideInUp">
        <!-- Ingredients -->
        <div class="col-5">
          <div class="recipe-ingredients">
            <h3>Ingredients</h3>
            <dl class="ingredients-list" th:each="ingredient : ${recipe.ingredients}">
              <dt th:text="${(ingredient.getAmount() + ' ' + ingredient.uom.getDescription())}">1 Teaspoon of</dt>
              <dd th:text="${ingredient.getDescription()}">Sugar</dd>
            </dl>
          </div>
        </div>
        <!-- Directions -->
        <div class="col-7">
          <div class="recipe-directions">
            <h3>Directions</h3>
           	<ol>
				<li th:each="direction : ${recipe.directions}" th:text="${direction.getDescription()}">Preheat oven to 325.</li>
			</ol>
          </div>
        </div>
      </div>
      <!-- Back to recipes -->
      <div class="row wow rollIn">
        <div class="col-12 text-center">
          <a href="/">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Go to back to recipes.
          </a>
        </div>
        <div class="col-12 text-right">
        	<a type="button" class="btn btn-outline-primary" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">
        		<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
        	</a>
        	<a type="button" class="btn btn-outline-danger" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">
        		<i class="fa fa-trash-o" aria-hidden="true"></i> Delete
        	</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Website Footer
  =================== -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-6 col-sm-12 text-center">
          <h3>About</h3>
          <div class="footer-about">
            "A recipe book is one that you use daily and what we in our family
            call 'a living book' — a book that you use all the time,
            not just read once and discard on the shelf.
            Recipes are by nature derivative and meant to be shared -
            that is how they improve, are changed, how new ideas are formed. ”
          </div>
        </div>
        <!-- Author -->
        <div class="col-md-6 col-sm-12 text-center">
          <div class="footer-author">
            Made with
            <i class="fa fa-heart" aria-hidden="true"></i>
            love by
            <a href="https://github.com/Ilmryn/" target="_blank">Sylvain Quiniou</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript files
  ===================== -->
  <script charset="utf-8" src="/js/jquery-3.3.1.min.js"></script>
  <script charset="utf-8" src="/js/bootstrap.min.js"></script>
  <script charset="utf-8" src="/js/wow.min.js"></script>
  <script charset="utf-8" src="/js/scripts.js"></script>
</body>

</html>